<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="de.dst.mybatis.persistence.AccountMapper">


	<cache />

	<resultMap type="Account" id="accountResult">
		<id property="id" column="id" />
		<result property="firstName" column="firstname" />
		<result property="lastName" column="lastname" />
		<association property="signon" column="signonid" javaType="SignonGhost">
			<id property="id" column="signonid" />
		</association>
	</resultMap>



	<select id="getAccountByUsername" resultMap="accountResult">
		SELECT
		ACCOUNT.ID,
		SIGNON.ID as signonid,
		ACCOUNT.FIRSTNAME,
		ACCOUNT.LASTNAME
		FROM ACCOUNT,
		SIGNON
		WHERE SIGNON.USERNAME =
		#{username}
		AND SIGNON.ID =
		ACCOUNT.SIGNONID
	</select>

	<select id="getSignonByById" parameterType="string" resultType="SignonImpl">
		SELECT
		SIGNON.ID,
		SIGNON.USERNAME
		FROM SIGNON
		WHERE
		SIGNON.id = #{id}
	</select>

	<select id="getSignonByUsername" parameterType="string"
		resultType="SignonImpl">
		SELECT
		SIGNON.ID,
		SIGNON.USERNAME
		FROM SIGNON
		WHERE
		SIGNON.USERNAME = #{username}
	</select>

	<select id="getAccountFieldsByAccountId" parameterType="string"
		resultType="AccountField">
		SELECT
		ID,
		type,
		text
		FROM account_field
		WHERE accountId =
		#{refId}
	</select>

</mapper>